<ion-header>
  <ion-toolbar>
    <ion-title>
      Explore
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card *ngFor = 'let listing of listings' (click)=viewProperty(listing)>
    <img class = "image" src = "{{listing.imgURL}}" />
    <ion-card-header>
      
      <ion-card-title>
        {{listing.title}}
      </ion-card-title>

      <ion-card-subtitle>{{listing.location}}</ion-card-subtitle>

      <ion-card-subtitle>${{listing.pricePerNight}}</ion-card-subtitle>

    </ion-card-header> -->

  </ion-card>
</ion-content>

